<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title #{title}
    style(type="text/css").
      body {
        text-align: center;
      }
      a {
        color: white;
        padding: 5px;
        text-decoration: none;
      }
  body
    h1 ERROR
    p
    strong #{statusCode}
    p
    strong #{message}
